.app{
    max-width: 800px;
    margin: auto;
}

h1>a{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight:300; 
    color:#ffffff;
    line-height: 41px;
    text-decoration: none;
    margin-left: 20px;
}
.black-box{
    margin: 10px 10px 10px 20px;
    padding: 5px 20px 5px 20px;
    background-color: #000000;
    opacity: 16%;
    color: #d7d7d7;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 100;
    border-radius: 4px;
}
h2 {
    margin: 40px 0px 20px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight:200; 
    color:#ffffff;
}
.or {
    text-align: center;
}
.signup, .login {
    display: inline-block;
    max-width: 500px;
    margin-left: 35%;
   margin-top:13%;

}
.signup-login-button{
    margin-left:34px;
}
input.blank{
    text-align: center;
}
button {
    background-color: #ff5722;
    color: #d7d7d7;
    height:50px;
    width: 200px;
    margin: auto;
    border-radius: 4px;
    border: 0;
    font-size: 16px;
}
button:hover{
	background-color: #595b5b;
    cursor: pointer;
}

.blank{
    background-color: transparent;
    color: #c78181;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #dfdfdf 1px;
    padding: 3px 10px;
    outline: none;
    outline-style: none;
}
.large-line-height {
    line-height: 286%;
}
.each-input{
    padding-left: 29px;
    padding-right: 40px;
}
.each-input>input.blank{
    text-align: center;
    width: 100%;
}
#new-meal-style, #new-buyer-style {
    padding: 20px;
    margin: auto;
    max-width: 50%;
}
.required{
    color: #c78181;
    font-size: 0.8em;
}
.landing-button {
    float: right;
    max-width: 90px;
    height: auto;
    padding: 5px;
    margin-right:5px;
    margin-left: 5px;    
}

.login-style {
    background-color: #cacdce;
    color:#ff5722;
    margin-right: 12px;
}

.post-dishes {
    background-color:  #788b91;
    color: white;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    max-width: 100px;
    height: auto;
}
.form-button{
    margin: 3% 29%;
}