.app{
    max-width: 800px;
    margin: auto;
}

h1>a{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight:300; 
    color:#ffffff;
    line-height: 41px;
    text-decoration: none;
    margin-left: 20px;
}
.black-box{
    margin: 10px 10px 10px 20px;
    padding: 5px 20px 5px 20px;
    background-color: #000000;
    opacity: 16%;
    color: #d7d7d7;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 100;
    border-radius: 4px;
}
h2 {
    margin: 40px 0px 20px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight:200; 
    color:#ffffff;
}
.or {
    text-align: center;
}
.signup, .login {
    max-width: 500px;
    margin: auto;
}
#signup-form, #login-form{
    margin: auto;
    padding-top: 7.5%;
}
.signup-login-button{
    margin-left:34px;
    margin-bottom: 12px;
    font-size: 1.15em;

}
input.blank{
    text-align: center;
    padding: 0;
    width: 100%;
}
button {
    background-color: #ff5722;
    color: #d7d7d7;
    height:50px;
    width: 200px;
    margin: auto;
    border-radius: 4px;
    border: 0;
    font-size: 16px;
}
button:hover{
	background-color: #595b5b;
    cursor: pointer;
}

.blank{
    background-color: transparent;
    color: #c78181;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15em;
    font-weight: 100;
    line-height: 3em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #dfdfdf 1px;
    padding: 3px 10px;
    outline: none;
    outline-style: none;
}
.large-line-height {
    line-height: 286%;
}
.each-input{
    padding-left: 29px;
    padding-right: 40px;
}
.each-input>input.blank{
    text-align: center;
    width: 100%;
}
input:required {         /*fix for Firefox showing red border around required fields*/
    box-shadow:none;
}
.signup_button, .login_button, {
    text-align: center;
}
#new-meal-style, #new-buyer-style {
    padding: 20px;
    margin: auto;
    max-width: 50%;
}
.required{
    color: #c78181;
    font-size: 0.8em;
}
.landing-button, .page-login-signup-button {
    max-width: 90px;
    padding: 5px;
       
}
.landing-button{
    margin:0px 5px;
}
.header-buttons, .search-meals-button {
    text-align: right;
}
.login-style {
    background-color: #cacdce;
    color:#ff5722;
    margin-right: 12px;
}

.form-button{
    margin: 3% 29% 0 38%;
}
.meal-area {
    margin: auto;
    padding: 5%;
}
.meal-item {
    list-style-type: none;
    margin:auto;
    width: 70%;
    margin-top:10px;
    padding: 20px 20px;
    overflow-x: scroll;
}

.post-button, .search-meals-button{ 
    margin-right: 30px;
}
.buy-button, .post-button {
    text-align: right;
}
strong {
    color: #ff5722;
    margin-right: 10px;
}
/*---------media queries----------------*/
/* screens width upto 900px */

@media (max-width: 900px){
    h1{
        text-align: center; 
        align-items: center;
    }
    .header-login-button, .header-signup-button, .header-buttons, .post-button, .buy-button, .search-meals-button {
        text-align: center;
    }
    .post-button, .search-meals-button {
        margin-right: 0;
    }
    #new-meal-style, #new-buyer-style {
        max-width: 100%;
    }
}

/* screens width upto 650px */

@media (max-width: 650px){
    header > h1 {
        width: 100%;
    }
    body {
        margin: 10px 0;
    }
    #signup-form {
        width: 100%;
        padding: 0;
    }
    .black-box{
        margin: 0;
        max-width: none;
        /*padding: 5px 20px 5px 20px;*/
        background-color: #000000;
        opacity: 16%;
        color: #d7d7d7;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 100;
        border-radius: 4px;
        width: calc(100% - 40px) !important;
     }
    .signup{
        margin-top: 7%;
        width: 100%;
    }
    input.blank{
        width: 100%;
    }
    li.black-box{
        margin-bottom: 10px;
    }   
}

/* Screens wider than 900px */

@media (min-width: 900px){
    .page-login-signup-button {
        float: right;
        margin: 0px 40px 0px 15px;
    }
}